.grid_projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items:center;
    column-gap: 15px;
    row-gap: 30px;
    padding: 10px 10px;
    color: var(--grey);
}


@media (max-width:1010px) {
    .grid_projects{
        grid-template-columns: repeat(2, 1fr);

    }
    
}
@media (max-width:660px) {
    .grid_projects{
        grid-template-columns: repeat(1, 1fr);

    }
    
}